#treeContainer
{
	display: block;
	width: 720px;
	height: 340px;
	float: left;
}

#nodeDetails
{
	width: 220px;
	height: 340px;
	padding: 8px;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	float: right;
}

#xmlinput
{
	float: left;
	width: 720px;
}

#fluxbutton
{
	width: 180px;
	height: 60px;
	float: right;
	margin: 20px;
	font-size: 24px;
}

textarea {
    resize: none;
}

input[type=text]
{
	width: 80px;
}

.node {
	cursor: pointer;
}

.overlay {
	background-color: #EEE;
}
   
.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}
   
.node text {
	font-size: 10px;
	font-family: sans-serif;
}
   
.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

.templink {
	fill: none;
	stroke: red;
	stroke-width: 3px;
}

.ghostCircle.show {
	display: block;
}

.ghostCircle, .activeDrag .ghostCircle {
	display: none;
}
